<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    {% include 'includes/head_common.html' %}
    {% include 'meta/' ~ locale ~ '/about_app.html' %}
</head>

<body>
    {% include 'nav.html' %}

    <div class="main-layout card-detail">
        <article class="card-article">
            <header class="card-detail-header">
                <p class="card-id">&nbsp;</p>
                <h2 class="cards-index-title">{{ui.nav_about_app}}</h2>
            </header>
            <section class="card-section">
            </section>
            <section class="card-section">
            </section>
            <section class="card-section">
            </section>
            <section class="card-section">
            </section>

        </article>

        <footer>
            <div class="domain-links">
                <a href="https://etarot.sk" target="_blank" rel="noopener">eTarot.sk</a>
                <a href="https://gotarot.org" target="_blank" rel="noopener">goTarot.org</a>
                <a href="https://czytajtarot.pl" target="_blank" rel="noopener">czytajTarot.pl</a>
                <a href="https://magickytarot.cz" target="_blank" rel="noopener">magickyTarot.cz</a>
            </div>
            <p style="margin-top: 30px; font-size: 11px; color: #475569;">
                &copy; 2026 <a href="https://r2ot.sk" target="_blank" rel="noopener" style="text-decoration: none; font-size: 11px; color: #475569;">r2ot.sk</a>
            </p>
        </footer>
    </div>
</body>

</html>