<title>{{ card.name }} – Tarot Card Meaning and Symbolism</title>
<meta name="description" content="{% if card.keywords %}{{ card.keywords|join(', ') }}{% else %}{{ card.name }}{% endif %} — {{ ui.nav_brand }}">
<meta name="keywords" content="tarot, tarot reading, 3-card spread, online tarot, card fortune telling, free tarot, fate reading, tarot cards, spiritual reading, tarot card of the day">

<meta property="og:title" content="{{ card.name }} – Tarot Card Meaning and Symbolism">
<meta property="og:description" content="{% if card.keywords %}{{ card.keywords|join(', ') }}{% else %}{{ card.name }}{% endif %} — {{ ui.nav_brand }}">
<meta property="og:image" content="static/cards/share/share_{{card.id}}.png?v=2026">