<title>O aplikacji: Nowoczesny i prosty tarot online</title>
<meta name="description" content="Poznaj historię naszej aplikacji tarotowej. Oferujemy przejrzyste i intuicyjne doświadczenie online, skupiające się na czystym czytaniu kart bez zbędnych rozpraszaczy.">
<meta name="keywords" content="aplikacja tarot, tarot online, nowoczesne czytanie tarota, o projekcie, darmowy tarot">

<meta property="og:title" content="O aplikacji: Nowoczesny i prosty tarot online">
<meta property="og:description" content="Poznaj historię naszej aplikacji tarotowej. Oferujemy przejrzyste i intuicyjne doświadczenie online, skupiające się na czystym czytaniu kart bez zbędnych rozpraszaczy.">