<title>{{ card.name }} – Znaczenie i symbolika karty tarota</title>
<meta name="description" content="{% if card.keywords %}{{ card.keywords|join(', ') }}{% else %}{{ card.name }}{% endif %} — {{ ui.nav_brand }}">
<meta name="keywords" content="tarot, czytanie tarota, rozkład 3 kart, tarot online, wróżenie z kart, darmowy tarot, poznawanie przyszłości, karty tarota, czytanie duchowe, karta dnia">

<meta property="og:title" content="{{ card.name }} – Znaczenie i symbolika karty tarota">
<meta property="og:description" content="{% if card.keywords %}{{ card.keywords|join(', ') }}{% else %}{{ card.name }}{% endif %} — {{ ui.nav_brand }}">
<meta property="og:image" content="static/cards/share/share_{{card.id}}.png?v=2026">